* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: hwb(0 64% 35%);
 
}

.container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #14243c, #1b1f3a);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
    width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
  color: blue;
  text-decoration: underline;
}
.sidebar nav ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar nav ul li {
  padding: 10px 0;
  cursor: pointer;
}
.main-content {
  flex: 1;
  background-color: #f5f7fa;
  padding: 20px;
  position: relative;
}

.aside {
  width: 300px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  font-family: sans-serif;
}

h4 {
  font-size: 14px;
  margin: 15px 0 10px;
}

.post {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.discover {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 5px;
}

.post p {
  font-size: 13px;
  margin: 0;
}

.post small {
  font-size: 11px;
  color: #777;
}

